body{
	padding:0;
	margin:0;


}
.home{
	background-color:black;
}
.about{
	background-color:#d3dbd5;
}
.project{
	background-color:#d3dbd5;
}
.skills{
	background-color:#d3dbd5;
}
.contact{
	background-color:#d3dbd5;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}
li {
  float: left;
}
h1{
  font-size: 40px;
}
h2{
  font-size: 30px;
}
header{
  font-size: 30px;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 30px 20px;
  text-decoration: none;
}
li a:hover {
  background-color: #111;
}
.one{
  color: white;
   position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
  font-size: 18px;

}
.Two{
   color: black;
   position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: left;
  font-size: 18px;
}
.one{
  background-color: #4CAF50; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}


